* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding-left: 20px;
}

#root {
  width: auto;
  padding: 0.06rem;
}

.forgot-form {
  height: 360px;
  width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  background: #e6e6e6;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-top: -120px;
}

.forgot-form .logo-titulo {
  height: 80px;
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.forgot-form .encontremos-text {
  top: -60px;
  font-size: 1.5rem;
  color: #2b6daf;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.forgot-form .input-wrapper .input-field {
  width: 300px;
  display: flex;
  height: 50px;
  border: 2px solid;
  gap: 60px;
  border-color: #2b6daf;
  border-radius: 0.9rem;
  margin-bottom: 30px;
  margin-top: 20px;
}

.forgot-form .input-field {
  padding-left: 1rem;
}

.forgot-form .forgot-button {
  background-color: #f0833e;
  border-radius: 0.9rem;
  color: white;
  font-weight: bold;
  width: 370px;
  height: 33px;
}
